<div class="log_history clearfix">
  <ul id="tasktabs" class="nav nav-tabs">
    <li class="active"><a href="#all_tab" data-toggle="tab">Andamentos (<%= @task.work_logs.level_accessed_by(current_user).count %>)</a></li>
    <!--
    Caso futuramente se queiram outras abas<li><a href="#changesets_tab" data-toggle="tab">Commits (<%= @task.scm_changesets.count %>)</a></li> -->
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="all_tab">
      <%= render :partial => 'activities/log_row2', :collection=> @task.work_logs.level_accessed_by(current_user).except(:order).order("started_at desc").all %>
    </div>
    <!--
    Caso futuramente se queiram outras abas
    <div class="tab-pane" id="changesets_tab">
    </div>
    -->
  </div>
</div>
