# encoding: UTF-8

$CONFIG = {
       :domain => "getjobsworth.org",  # The client specific hostname will be prepended to this domain
       :email_domain => "getjobsworth.org",
       :replyto => "admin",  # Note that this is not a full email address, just the part before the @
       :from => "admin",  # Note that this is not a full email address, just the part before the @
       :prefix => "[Jobsworth]",
       :productName => "Jobsworth",
       :SSL => false
}

Jobsworth::Application.configure do
  config.action_mailer.smtp_settings = {
    :address  => '',
    :port  => 587,
    :domain  => '',
    :user_name => '',
    :password => '',
    :authentication => 'plain',
    :enable_starttls_auto => true
  }
end


# Setup email notification of errors
Jobsworth::Application.config.middleware.use ExceptionNotifier,
    :email_prefix => "[Jobsworth error] ",
    :sender_address => %{"Jobsworth" <error@getjobsworth.org>},
    :exception_recipients => %w{exceptions@example.com}
